<article class="card">
    <div class="card-header">
        <a href="/post/{{id}}">
            <h2 class="card-title">
                {{title}}
            </h2>
        </a>
        <div class="card-meta">
            Posted by <strong>{{user.username}}</strong> on {{format_date created_at}}
            |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </div>
    <div class="card-body">
        {{post_content}}
    </div>
</article>