<a href="/dashboard"> &larr; Back to dashboard</a>
<article>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">
                Edit Post
            </h2>
            <div class="card-meta">
                <div>
                    Posted by <strong>{{post.user.username}}</strong> on {{format_date post.created_at}}
                </div>
                <div>
                    <a href="/post/{{id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form class="edit-post-form">
                <div>
                    <label for="post-title">Title</label>
                    <input id="edit-title" name="post-title" type="text" value="{{post.title}}" />
                    <label id="edit-content" for="post-content">Contents</label>
                    <textarea name="post-content">{{post.post_content}}</textarea>
                </div>

                <button type="submit">Update Post</button>
                <button type="button" class="delete-post-btn">Delete Post</button>
            </form>
        </div>
    </div>
</article>

<form class="comment-form">
    <div>
        <textarea id="comment-area" name="comment-body"
            placeholder="Enter comment here...">Enter comment here...</textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>